h1{
    background-color: peru;
    text-transform: uppercase;
    text-align: center;
    color:antiquewhite;
    padding: 20px 0;

}.heading{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: peru;
}
.container{
    max-width: 80vw;
    margin: 0 auto;
}

.container p::first-letter{
    font-size: 50px;
    float: left;
}

.card{
    width: 300px;
    min-height: 400px;
    background-color: peru;
    box-shadow: 0 0 6px 5px rgba(20, 20, 20, 0.10);
}

img{
    width: 100%;
    height: 400%;
}
.card .content-section{
    padding: 10px;
}
.card .content-section h3{
color: aliceblue;
font-size: 30px;
}

button{
    outline: none;
    border: 3px solid white;
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 50px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin margin-top: 50px;
}